@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.box {
    border-radius: 20px;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 30px;
    transition: 0.3s;
}

.box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.05;
}

img {
    width: 200px;
    height: 200px;
}

.content {
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
}